---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci

inputs:
  - name: buildpacks-ci
  - name: bbl-state

run:
  path: buildpacks-ci/tasks/remove-gcp-parent-dns-record/run.sh

params:
  ENV_NAME:
  GCP_SERVICE_ACCOUNT_KEY:
