---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
    username: ((cfbuildpacks-dockerhub-user.username))
    password: ((cfbuildpacks-dockerhub-user.password))
inputs:
  - name: new-cves
  - name: buildpacks-ci
  - name: cflinuxfs4
outputs:
  - name: output-new-cves
run:
  path: bash
  args:
    - -c
    - |
      set -e
      rsync -a new-cves/ output-new-cves

      cd buildpacks-ci && bundle exec ./tasks/check-for-new-rootfs-cves-cflinuxfs4/run.rb
