---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: receipt-s3
  - name: cflinuxfs2
  - name: version
outputs:
  - name: new-cflinuxfs2-commit
run:
  path: buildpacks-ci/tasks/update-rootfs-receipt/run.sh
