---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: new-cves
  - name: buildpacks-ci
  - name: cflinuxfs2
outputs:
  - name: cves-email
  - name: output-new-cves
run:
  path: bash
  args:
    - -c
    - |
      set -e
      rsync -a new-cves/ output-new-cves

      cd buildpacks-ci && bundle exec ./tasks/check-for-new-rootfs-cves/run.rb

params:
  STACK:
  SLACK_CHANNEL:
  SLACK_WEBHOOK:
  GITHUB_USERNAME:
  GITHUB_PASSWORD:
  TRACKER_PROJECT_ID:
  TRACKER_API_TOKEN:
  TRACKER_REQUESTER_ID:
  EMAIL_PREPARER_DIR:
