---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
    username: ((cfbuildpacks-dockerhub-user.username))
    password: ((cfbuildpacks-dockerhub-user.password))
inputs:
  - name: new-cves
  - name: buildpacks-ci
  - name: rootfs
outputs:
  - name: output-new-cves
params:
  STACK:
  UBUNTU_VERSION:
  UBUNTU_CODENAME:
run:
  path: bash
  args:
    - -c
    - |
      set -e
      rsync -a new-cves/ output-new-cves
      cd buildpacks-ci && bundle exec ruby ./tasks/check-for-new-rootfs-cves/run.rb
