---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: stack-s3
  - name: cflinuxfs2-rootfs-release
outputs:
  - name: cflinuxfs2-rootfs-release-artifacts
run:
  path: buildpacks-ci/tasks/overwrite-cflinuxfs2-rootfs-release/run.sh
