---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: plugin-release

run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/tasks/write-stack-auditor-pivnet-metadata/run.rb