---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: version
outputs:
  - name: release-body
run:
  path: buildpacks-ci/tasks/get-buildpack-github-release-notes/run.sh
params:
  BUILDPACK_REPO:
  GITHUB_ACCESS_TOKEN:
