---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
    username: ((cfbuildpacks-dockerhub-user.username))
    password: ((cfbuildpacks-dockerhub-user.password))
inputs:
  - name: buildpack
  - name: buildpack-latest-released
  - name: buildpacks-ci
  - name: source
  - name: builds
outputs:
  - name: artifacts
run:
  path: ruby
  args:
    - buildpacks-ci/tasks/update-buildpack-dependency/run.rb
params:
  GPG_SIGNING_KEY_ID:
  GPG_SIGNING_KEY:
  VERSION_LINE_TYPE:
  VERSION_LINE:
  REMOVAL_STRATEGY:
  DEPRECATION_DATE:
  DEPRECATION_LINK:
  DEPRECATION_MATCH:
