---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack-packager
caches:
  - path: buildpack-packager/vendor
run:
  path: buildpacks-ci/tasks/run-buildpack-packager-specs/run.sh
params:
  RUBYGEM_MIRROR:
