.idea/
.bundle/
private.yml
.vagrant/
.rspec
rspec.failures
tags
deployments/concourse-gcp/manifest.yml
deployments/concourse-gcp/cloud.yml
deployments/concourse-gcp/bosh-init/bosh.yml
deployments/concourse-gcp-terraform/concourse.tf
deployments/concourse-gcp-terraform/terraform.tfstate
deployments/concourse-gcp-terraform/terraform.tfstate.backup
tasks/update-cnb-dependency/test/fixtures/updating-child-cnb/artifacts
tasks/update-cnb-dependency/test/fixtures/updating-parent-cnb/artifacts
tasks/update-cnb-dependency/test/fixtures/updating-parent-cnb-with-tiny-stack/artifacts
