---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/tasks/destroy-cf-deployment/run.sh
params:
  BOSH_CLIENT:
  BOSH_ENVIRONMENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  DEPLOYMENT_NAME:
