---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: new-releases
  - name: buildpacks-ci
outputs:
  - name: new-releases-artifacts
run:
  path: bash
  args:
    - -c
    - |
      set -e
      pushd buildpacks-ci
        bundle exec ./scripts/notifications/check-new-releases
      popd
      rsync -a new-releases/ new-releases-artifacts
params:
  SLACK_CHANNEL:
  SLACK_WEBHOOK:
  GITHUB_USERNAME:
  GITHUB_PASSWORD:
  TRACKER_PROJECT_ID:
  TRACKER_API_TOKEN:
  TRACKER_REQUESTER_ID:
