---
platform: linux
image: docker:///cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack
  - name: pivotal-buildpacks-cached
outputs:
  - name: buildpack-artifacts
run:
  path: buildpacks-ci/scripts/release/finalize-buildpack
