---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cflinuxfs2
inputs:
  - name: binary-builder-artifacts
  - name: buildpacks-ci
run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/scripts/push-binary.rb
