---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack
  - name: cf-bp-space
    path: cf-space
run:
  path: buildpacks-ci/tasks/run-buildpack-ginkgo-specs/run.sh
params:
  STACKS:
  GINKGO_ATTEMPTS:
  GINKGO_NODES:
