---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: cf-bosh-release
outputs:
  - name: cf-release
run:
  path: bash
  args:
    - '-c'
    - |
      git clone --branch v$( cat cf-bosh-release/version ) --depth 1 https://github.com/cloudfoundry/cf-release
      cd cf-release
      git submodule update --init src/loggregator
