---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
run:
  path: bash
  args:
    - '-cl'
    - 'buildpacks-ci/tasks/check-for-latest-php-module-versions/run.rb'
params:
  TRACKER_PROJECT_ID:
  TRACKER_API_TOKEN:
  TRACKER_REQUESTER_ID:
