---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: cfbuildpacks/ci
    tag: latest
    username: ((coredeps-dockerhub-user.username))
    password: ((coredeps-dockerhub-user.password))

inputs:
- name: ci
- name: bbl-state

outputs:
- name: space

run:
  path: ci/tasks/cf/create-space-bbl/task.sh

params:
  SYSTEM_DOMAIN:
  BBL_STATE_DIR:
  ORG:
