---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack
caches:
  - path: buildpack/compile-extensions/vendor
outputs:
  - name: buildpack-artifacts
run:
  path: buildpacks-ci/tasks/update-compile-extensions/run.sh
