---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: new-releases
  - name: binary-builds
outputs:
  - name: binary-builds-artifacts
run:
  path: bash
  args:
    - -cl
    - |
      set -e
      pushd buildpacks-ci
        bundle exec ./tasks/queue-dependency-build/run.rb
      popd
      rsync -a binary-builds/ binary-builds-artifacts
params:
  DEPENDENCY:
