- buildpacks = %w[go nodejs php python ruby staticfile binary]
- buildpack_height = 100.0 / buildpacks.length
- def pipeline_url thing ; "https://buildpacks.ci.cf-app.com/pipelines/#{thing}" ; end
%html
  %head
    :css
      body, div, iframe {
        background: #202020 ;
        margin: 0 ;
        border: 0 ;
      }
      iframe.buildpack {
        height: #{buildpack_height}% ;
        width: 100% ;
      }
  %body
    %div{:style => "width:33% ; height: 100% ; float:left"}
      - buildpacks.each do |buildpack|
        %iframe.buildpack{:src => pipeline_url("#{buildpack}-buildpack")}
    %div{:style => "width: 67% ; height: 33% ; float:left"}
      %iframe{:height => "50%", :src => "https://buildpacks.ci.cf-app.com/pipelines/stacks", :style => "float: left", :width => "75%"}
      %iframe{:height => "100%", :src => "https://canibump.cfapps.io", :style => "float: right ; scroll: none", :width => "25%"}
      %iframe{:height => "50%", :src => "https://buildpacks.ci.cf-app.com/pipelines/cf-release", :style => "float: left", :width => "75%"}
    %div{:style => "width: 67% ; height: 67% ; float:left"}
      %iframe{:height => "100%", :src => "https://buildpacks.ci.cf-app.com/pipelines/brats", :style => "float: left", :width => "30%"}
      %div{:style => "width: 70% ; height: 100% ; float: left ; position: relative"}
        %iframe{:height => "65%", :src => "https://buildpacks.ci.cf-app.com/pipelines/main", :style => "position: absolute ; bottom: 0 ; left: 0 ; z-index: 1", :width => "45%"}
        %iframe{:height => "100%", :src => "https://buildpacks.ci.cf-app.com/pipelines/binary-builder", :width => "100%"}
