---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: blob
outputs:
  - name: buildpack-zip
run:
  path: buildpacks-ci/tasks/build-offline-buildpacks-machete/run.sh
params:
  LANGUAGE:
  CF_STACKS:
