---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: machete
  - name: cf-space
run:
  path: buildpacks-ci/tasks/run-machete-specs/run.sh
params:
  RUBYGEM_MIRROR:
