---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks

inputs:
  - name: buildpacks-ci
  - name: buildpack
outputs:
  - name: buildpack-artifacts
run:
  path: buildpacks-ci/tasks/update-buildpackapplifecycle/run.sh
params:
  LANGUAGE:
