platform: linux
image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cflinuxfs3
inputs:
  - name: binary-builder
  - name: buildpacks-ci
caches:
  - path: binary-builder/vendor
params:
  SPEC_TO_RUN:
  RUN_ORACLE_PHP_TESTS: false
  RUBYGEM_MIRROR:
  AWS_ACCESS_KEY:
  AWS_SECRET_ACCESS_KEY:
run:
  path: buildpacks-ci/tasks/run-binary-builder-integration-specs/run.sh
