---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: node
    tag: '8'
inputs:
  - name: buildpacks-ci
  - name: buildpacks-site
params:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  AWS_BUCKET:
run:
  path: buildpacks-ci/tasks/build-and-publish/run.sh
