---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: cflinuxfs2-release
outputs:
  - name: rootfs-smoke-test-manifest-artifacts
run:
  path: buildpacks-ci/tasks/make-rootfs-smoke-test-manifest/run.sh
params:
  DEPLOYMENT_NAME:
  BOSH_USER:
  BOSH_PASSWORD:
  BOSH_TARGET:
