---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: pivnet-production
run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/tasks/pws-create-or-update-buildpack/run.rb
params:
  CF_API:
  USERNAME:
  PASSWORD:
  BUILDPACK_NAME:
  STACKS:
