---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/rootfs-opensuse42
inputs:
  - name: buildpacks-ci
  - name: built-yaml
  - name: dotnet-framework-built
outputs:
  - name: binary-builder-artifacts
  - name: dotnet-framework-built-output
run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/tasks/extract-dotnet-framework/run.rb
