---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: release
  - name: buildpack-zip-stack0
    optional: true
  - name: buildpack-zip-stack1
    optional: true
  - name: buildpack-zip-stack2
    optional: true
  - name: buildpack-zip-stack3
    optional: true
outputs:
  - name: release-artifacts
  - name: version
params:
  LANGUAGE:
  RELEASE_NAME:
  RELEASE_DIR:
  ACCESS_KEY_ID:
  SECRET_ACCESS_KEY:
run:
  path: buildpacks-ci/tasks/create-bosh-release/run.rb
