---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
    tag: latest
    username: ((coredeps-dockerhub-user.username))
    password: ((coredeps-dockerhub-user.password))
inputs:
  - name: buildpacks-ci
  - name: cf-deployment-concourse-tasks
  - name: toolsmiths-env
    optional: true
  - name: bbl-state
    optional: true
outputs:
  - name: cats-integration-config
run:
  path: buildpacks-ci/tasks/cf-release/create-cats-integration-config/run
params:
  BBL_STATE_DIR:
  SYSTEM_DOMAIN:
