---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cflinuxfs2
inputs:
  - name: buildpacks-ci
  - name: source
  - name: builds
  - name: all-monitored-deps
    optional: true
outputs:
  - name: builds-artifacts
run:
  path: bash
  args:
    - -cl
    - gem install tracker_api && buildpacks-ci/tasks/build-binary-new/create.rb
params:
  TRACKER_API_TOKEN:
  TRACKER_PROJECT_ID:
  BUILDPACKS:
