---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack
run:
  path: buildpacks-ci/tasks/run-buildpack-unit-specs/run.sh
params:
  STACKS:
  GINKGO_ATTEMPTS:
  GINKGO_NODES:
  DOCKER_START:
