---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack
  - name: version
outputs:
  - name: buildpack
params:
  REPO_PRIVATE_KEY:
run:
  path: bash
  args:
    - -c
    - buildpacks-ci/tasks/update-changelog-for-release/run.sh
