---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: cflinuxfs2-release
run:
  path: buildpacks-ci/tasks/run-cflinuxfs2-nc-specs/run.sh
params:
  DEPLOYMENT_NAME:
  BOSH_LITE_DOMAIN_NAME:
  CF_PASSWORD:
