---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
    username: ((coredeps-dockerhub-user.username))
    password: ((coredeps-dockerhub-user.password))
inputs:
  - name: buildpacks-ci
  - name: buildpack
  - name: version
<<<<<<< HEAD
=======
    optional: true
>>>>>>> origin/update-version-changelog
  - name: uncached-buildpack-for-stack0
  - name: uncached-buildpack-for-stack1
    optional: true
  - name: uncached-buildpack-for-stack2
    optional: true
  - name: uncached-buildpack-for-stack3
    optional: true
  - name: uncached-buildpack-for-stack4
    optional: true
caches:
  - path: buildpack/vendor
outputs:
  - name: buildpack-artifacts
run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/tasks/finalize-buildpack/run.rb
