---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: buildpacks-ci
  - name: buildpack
  - name: pivotal-buildpacks-stack0
  - name: pivotal-buildpacks-stack1
    optional: true
outputs:
  - name: buildpack-artifacts
run:
  path: bash
  args:
    - -cl
    - buildpacks-ci/tasks/finalize-buildpack/run.rb
