---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: cflinuxfs2
  - name: version
outputs:
  - name: cflinuxfs2-artifacts
  - name: receipt-artifacts
run:
  path: buildpacks-ci/tasks/make-rootfs/run.sh
