---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: buildpacks-ci
  - name: bbl-state
run:
  path: buildpacks-ci/tasks/run-rootfs-smoke-test/run.sh
params:
  ENV_NAME:
