---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: coredeps/core-deps-ci
    username: ((coredeps-dockerhub-user.username))
    password: ((coredeps-dockerhub-user.password))
inputs:
- name: buildpacks-ci
- name: buildpack-release-tarball
- name: buildpack-release-trigger
params:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  BUCKET:
run:
  path: buildpacks-ci/tasks/cf-release/update-buildpack-release-trigger/run
