---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cflinuxfs4
    username: ((coredeps-dockerhub-user.username))
    password: ((coredeps-dockerhub-user.password))
inputs:
- name: buildpacks-ci
- name: source
- name: builds
outputs:
- name: artifacts
- name: builds
run:
  path: buildpacks-ci/tasks/repackage-dependency/run.sh
params:
  STACK:
  ANY_STACK:
