---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: splatform/cf-ci-buildpacks
inputs:
  - name: cf-release
  - name: buildpacks-ci
outputs:
  - name: cf-release-artifacts
run:
  path: buildpacks-ci/tasks/create-cf-release-without-modifying-cflinuxfs2/run.sh
params:
  RUBYGEM_MIRROR:
