name: Build jammy-based buildpack testing docker image

on:
  workflow_dispatch: { }
  schedule:
    - cron: "0 1 * * 1"
  push:
    branches: [ master ]
    paths: [ dockerfiles/test-on-jammy.Dockerfile ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.CF_BUILDPACKS_DOCKERHUB_USERNAME }}
          password: ${{ secrets.CF_BUILDPACKS_DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: cfbuildpacks/test-on-jammy
          file: dockerfiles/test-on-jammy.Dockerfile
