---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfbuildpacks/ci
inputs:
  - name: diego-bosh-release
outputs:
  - name: diego-release
run:
  path: bash
  args:
    - '-c'
    - |
      git clone --branch v$( cat diego-bosh-release/version ) --depth 1 https://github.com/cloudfoundry/diego-release
